@import "theme/theme";

.Layout {
    flex: 1;
    display: flex;
    flex-direction: column;

    height: auto;
    width: 100%;

    .Content {
        flex: 1;
        display: flex;
        
        width: 100%;

        background: $content-color;
        color: $on-secondary;
        font-family: $core-font;

        display: grid;
        grid-template-rows: auto auto;
    }

    .WelcomeInfoPage {
        height: 75vh;
        display: flex;
        flex-direction: row;

        //padding: 15px;
        text-align: center;
        align-items: center;
    }

    .WelcomeInfoTitle {
        background: $content-color;
        font-size: 34px;

        margin-top: 10%;
        margin-bottom: 20px;
    }

    .AnimationBox {
        overflow: hidden;
    }

    .Mascot {
        width: 25%;
        z-index: 0;
        transform: translate(-100%, 50%);

        position: relative;
    }

    .WelcomeInfoBox {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
    }

    .WelcomeInfoSlideShow {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .SlideShowBackground {
        flex: 0 1 75%;
        margin: 10%;
        width: 60%;
        height: 0;

        padding-bottom: 50%;
        background-color: lightgray;
    }

    .ButtonBox {
        flex: 0 1 110%;
        display: flex;
        flex-direction: column;
        align-items: center;

        //margin-top: 25px;
    }

    .Buttoncont {
        flex: 0 1 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;

        margin-top: 25px;
    }

    .GetStartedButton {
        background: $button-color;
        color: black;
        border-radius: 7px;
        border-width: 1px;
        margin-top: 35px;
        padding: 15px 25px 15px 25px;
        font-size: 20px;
        z-index: 1;

        cursor: pointer;
    }

    .GetStartedButton:hover {
        background: $button-hover-color;
    }

    .GetStartedButton:hover ~ .Mascot {
        animation: peek 2s linear 0s infinite forwards;
    }

    @keyframes peek {
        0% {
            transform: translate(-100%, 50%);
        }

        70% {
            transform: translate(-100%, 0%);
        }

        100% {
            //transform: translate(-100%, 0%);
        }
    }

    .Slideshow {
        width: 50%;
        height: 100%;

        background: #C4C4C4;
    }

    .AboutIntBuddyPage {
        height: 75vh;
        background: white;
        color: black;
        grid-row: auto;

        text-align: center;
    }

    .AboutIntBuddyTitle {
        font-size: 34px;

        
        margin-top: 40px;
        margin-bottom: 3%;
    }

    .AboutIntBuddyDesc {
        font-size: 24px;

        margin-top: 10px;
        margin-bottom: 3%;

    }

    .AboutIntBuddyBody {
        margin: 0 20% 3% 20%;

        font-size: 22px;
        text-align: justify;
    }

    .AboutIntBuddyBody ul li {
        align-items: center;
    }

    .AboutUsPage {
        height: 75vh;
        background: white;
        color: black;

        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto auto auto auto auto;
        justify-items: center;

    }

    .AboutUsTitle {
        font-size: 50px;

        align-items: center;
        margin-top: 40px; 
        text-align: center;

        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 7;
    }

    .AboutUsBlank {
        grid-row: 2;
    }

    .AboutUsCircles {
        border-color: black;
        border-style: solid;
        background: #c4c4c4;
        border-radius: 50%;

        height: 200px;
        width: 200px;

        align-self: center;
        grid-row: 2;
    }

    .OurFaces {
        width: 100%;
        height: 100%;
        border-radius: 100px;
    }

    .AboutUsCircles:hover {
        cursor: pointer;
        background: white;
        animation: spin 1s linear 0s 3 alternate;
    }

    .OurFaces:hover {
        background: white;
        //animation: spin 2s linear 0s infinite alternate;
    }

    @keyframes spin {
        0% {
            transform: translate(-10px, 0px);
        }

        50% {
            transform: translate(10px, 0px);
        }

        100% {
            transform: translate(0px, 0px);
        }
    }

    .AboutUsDescription {
        grid-row: 3;
    }
}