@import "../theme/theme";

.Header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 60px;
    width: 100%;

    margin: 0 0 0 0;
    padding: 0 0 0 0;

    font-family: $logo-font;
    font-size: 24px;
    font-weight: bold;
    color: $on-secondary;

    background: $header-color;

    //position: fixed;
}

.LogoBack {
    border-radius: 100%;
    background: #C4C4C4;
    align-items: center;

    height: 50px;
    width: 50px;

    margin: 5px 5px 5px 5px;

    cursor: pointer;
}

.Logo {
    align-self: center;

    margin: 10% 10% 10% 10%;

    width: 80%;
    height: 80%;
}

.AppTitle {
    cursor: pointer;
}