@import "../theme/theme";

.Layout {
    flex: 1;
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    .Content {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        height: inherit;
        width: 100%;

        background: $content-color;
        color: $on-secondary;
        font-family: $core-font;

        
    }

    .WelcomeInfoPage {
        float: left;
        width: 50%;
        height: 100%;

        padding: 15px;
        text-align: center;
    }

    .WelcomeInfoTitle {
        background: $content-color;
        font-size: 34px;
    }

    .GetStartedButton {
        background: $button-color;
        color: black;
        border-radius: 7px;
        border-width: 20px;

        padding: 15px 15px 15px 15px;

        position: absolute;
        cursor: pointer;
    }

    .GetStartedButton:hover {
        border-width: 20px;
        border-color: $button-hover-color;
    }

    .Slideshow {
        float: right;
        width: 50%;
        height: 100%;
    }
}