@import "theme/theme";

.Timer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    width: 100%;
    padding-right: 40px;
    font-size: 34px;
    background-color: lightgray;
}